/* 规则 */
/* 在一个新区的最后的}应该留下4个空行，以便区分。 */



/* --------------------------- */
/* ------  BASIC SETUP  ------ */
/* --------------------------- */
* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

html,
body {
    font-size       : 20px;
    background-color: #f2f2f0;
    color           : #4a4a4a;
    font-family     : FDM, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering  : optimizeLegibility;
    overflow-x      : hidden;
}

.row {
    margin: 0 20px;
}




/* ------------------------------- */
/* ------  GENERAL SETTING  ------ */
/* ------------------------------- */

/* HEADING */
h2 a:link,
h2 a:visited {
    font-family   : 'GM';
    font-size     : .8rem;
    font-weight   : normal;
    color         : #6F8555;
    letter-spacing: 3px;
    line-height   : 1.5em;
    margin        : 0.83em 0;
}

a:link,
a:visited {
    color          : #4a4a4a;
    text-decoration: none;
}

p {
    margin     : 1em 0;
    line-height: 1.5em;
}

img {
    width: 100%;
}




/* ------------------------------- */
/* ------  REUSABLE STUFFS  ------ */
/* ------------------------------- */
.line {
    display         : block;
    margin          : 12vh auto;
    height          : 1px;
    width           : 15vw;
    content         : " ";
    background-color: #CDCDCD;
}

.more:link,
.more:visited {
    display           : block;
    padding           : 2px;
    font-family       : 'GM';
    font-size         : .6rem;
    color             : #9B9B9B;
    text-transform    : uppercase;
    line-height       : 14px;
    letter-spacing    : 2px;
    transition        : all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition   : all 0.3s ease-out;
    -ms-transition    : all 0.3s ease-out;
    -o-transition     : all 0.3s ease-out;
}

.more:hover,
.more:active {
    color: #4a4a4a;
}


/* ---------------------- */
/* ------  HEADER  ------ */
/* ---------------------- */
header {
    height             : 100vh;
    background-image   : linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('./img/home-tree-reception-house-1920x1280.jpg');
    background-size    : cover;
    background-position: center;
}

/* The following class is to add a transparent bg upon the img */
.layer {
    position        : absolute;
    z-index         : 5;
    top             : 0;
    left            : 0;
    height          : 100vh;
    width           : 100vw;
    content         : '';
    background-color: #000;
    opacity         : 0;
}

nav {
    position  : absolute;
    top       : 0;
    left      : 0;
    padding   : 30px 30px 0 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
    height    : 100px;
    width     : 100%;
    z-index   : 10;
}

.logo:link,
.logo:visited {
    display       : inline-block;
    font-family   : FDBD;
    font-size     : .9rem;
    color         : #fff;
    letter-spacing: 2px;
}

.logo-mark:link,
.logo-mark:visited {
    position         : absolute;
    top              : 30px;
    left             : 50%;
    transform        : translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform   : translateX(-50%);
    -ms-transform    : translateX(-50%);
    -o-transform     : translateX(-50%);
    z-index          : 99;
}

g {
    transition        : fill 0.1s;
    -webkit-transition: fill 0.1s;
    -moz-transition   : fill 0.1s;
    -ms-transition    : fill 0.1s;
    -o-transition     : fill 0.1s;
}

.logo-mark:hover g,
.logo-mark:active g {
    fill: #ffffff;
}

.main-nav {
    position  : relative;
    list-style: none;
    float     : right;
}

.main-nav li {
    display     : inline-block;
    margin-right: 80px;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a:link,
.main-nav a:visited {
    display       : block;
    font-family   : GM;
    font-size     : .75rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color         : #fff;
}

/* For the dropdown nav */
.category-furniture ul {
    float: left;
    width: 200px;
}

.category-furniture ul:last-child li {
    margin-right: 0;
}

.dropdown-content {
    display           : none;
    position          : absolute;
    top               : 15px;
    opacity           : 0;
    transition        : opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition   : opacity 0.2s;
    -ms-transition    : opacity 0.2s;
    -o-transition     : opacity 0.2s;
}

.category-furniture:hover>.dropdown-content,
.category-philosophy:hover>.dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-content ul li {
    padding-top: 15px;
    display    : block;
}

.dropdown-content a:link,
.dropdown-content a:visited {
    font-family   : 'GB';
    letter-spacing: 0.5px;
    text-transform: none;
}

.saying {
    position      : absolute;
    margin-right  : 100px;
    font-size     : calc(1.4285714286vw + 11.4285714286px);
    line-height   : calc(1.9047619048vw + 17.2380952381px);
    letter-spacing: 0.5px;
    color         : #fff;
    left          : 50%;
    bottom        : 40px;
}

.saying cite {
    display    : block;
    line-height: calc(1.9841269841vw + 16.2063492063px);
    font-size  : calc(.8333333333vw + 7.1666666667px);
    font-style : normal;
}




/* -------------------- */
/* ------  LURE  ------ */
/* -------------------- */

/* LURE BOX SETUP */
.lure-container {
    padding-top   : 60px;
    padding-bottom: 120px;
}

.lure-box {
    max-width: 980px;
    margin   : 0 auto;
}

.lure-box .col:first-child,
.lure-box .col:last-child {
    margin: 0;
}

.lure-box .col:first-child {
    padding-right: 2.3%;
}

.lure-box .col:last-child {
    padding-left: 2.3%;
    float       : right;
}

/* LURE BOX 1 */
.lure-box1 {
    position: relative;
}

.lure-box1 blockquote {
    font-size     : 1.5rem;
    line-height   : 1.625em;
    letter-spacing: 0.5px;
}

.lure-box1 cite {
    display   : block;
    font-size : .9rem;
    font-style: normal;
    color     : #6f8555;
}

.text-box {
    position         : absolute;
    top              : 50%;
    transform        : translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform   : translateY(-50%);
    -ms-transform    : translateY(-50%);
    -o-transform     : translateY(-50%);
}

/* LURE BOX 2 */
.lure-box2 {
    position: relative;
}

.lure-box2 .text-box {
    right: 0;
}

.lure-box2 .more {
    float: left;
}

/* LURE BOX 3 */
.lure-box3 {
    position  : relative;
    margin-top: 8vw;
    text-align: right;
}

.lure-box3 figure {
    width: 78%;
}

.lure-box3 .more {
    float: right;
}




/* ------------------------------ */
/* ------  HOME FURNITURE  ------ */
/* ------------------------------ */
.home-furniture {
    background-image   : url('./img/Background-furniture-home-promo-1849x1280.jpg');
    background-size    : cover;
    background-position: center;
    padding-bottom: 80px;
}

.home-furniture h2 {
    text-align: center;
    margin-top: calc(5vw + 15px);
}

.home-furniture h2 a:link,
.home-furniture h2 a:visited {
    color: #fff;
}

.home-furniture p {
    margin    : 60px auto;
    text-align: center;
}

.home-furniture p a:link,
.home-furniture p a:visited{
    color: rgba(255, 255, 255, 0.7);
    transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
}

.furniture-showcase{
    padding: 0 40px;
}

.home-furniture p a:hover,
.home-furniture p a:active{
    color: rgb(255, 255, 255,1);
}

.furniture-img{
    padding: 0 5%;
    overflow: hidden;   
}

.furniture-img img{
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
}

.furniture-img img:hover{
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.furniture-more{
    padding-top: 15px;
    text-align: center;
}

.furniture-more a:link,
.furniture-more a:visited{
    font-family: 'GM';
    font-size: .6rem;
    letter-spacing: 2.2px;
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.furniture-more a:hover,
.furniture-more a:active{
    color: rgba(255,255,255,1);
}

/* ---------------------- */
/* ------  FOOTER  ------ */
/* ---------------------- */
footer{
    padding-top: 20px;
}

footer table{
    margin: 0 auto;
    width: 82.5%;
    line-height: 26px;
    letter-spacing: 3px;    
    text-transform: uppercase;
}

footer table tr{
    height: 60px;
}

.footer-location,
.footer-logo-mark{
    text-align: center;
}

.footer-email{
    text-align: right;
}

.footer-phone-num,
.footer-email,
.footer-location{
    font-family: 'GB';
    font-size: .55rem;
}


.footer-location{
    font-family: 'FDM';
    font-size: .7rem;
}

footer table tr:nth-child(2){
    font-size: .6rem;
}

.extra-info{
    list-style: none;
    float:right;
}

.extra-info li{
    display: inline-block;
}

.extra-info li:after{
    content: '|';
    padding: 0 5px;
}

.extra-info li:last-child::after{
    content: '';
    padding: 0;
}





.int{
    display: none;
}